---
import '../styles/global.css';
import Filters from '../components/Filters.jsx';
import { getCollection } from 'astro:content';

const articles = await getCollection('articles');

const latest = articles.sort(
  (a, b) => new Date(b.data.date) - new Date(a.data.date)
)[0];
---

<head>
  <title> Reflections </title>
</head>

<header class="nav">
  <h2>Reflections</h2>
  <nav>
    <a href="/my-blog/about">About</a>
  </nav>
</header>

<main class="page">

  <div class="container">

    <!-- Latest -->
    <div class="card-group">
      <a href={`/my-blog/articles/${latest.id}`} class="card-link">
        <div class="card">
          <h3>Latest</h3>
          <div class="card-title">{latest.data.title}</div>
          <p class="meta">
          {new Date(latest.data.date).toLocaleDateString('en-GB', {
            day: 'numeric',
            month: 'long',
            year: 'numeric'
          })}
        </p>
        </div>
      </a>
    </div>

    <!-- Articles -->
    <section class="articles-section">
      <h3>Articles</h3>
      <Filters client:load articles={articles} />
    </section>

  </div>

</main>